/** @format */

.align-center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: contents;
  width: 100%;
}

#lbl-result {
  color: red;
}

tr {
  width: 100% !important;
}

table {
  background-color: #90ee90;
}

table,
td,
tr {
  vertical-align: inherit;
  border-collapse: collapse;
}
